.user-salaray {
  display: inline-block;
  margin-left: 7px; }

.user-salary-icon {
  position: absolute;
  margin-top: -2px; }

.user-bdate {
  width: 280px; }

.salary-beauty {
  max-width: 100px; }

/*
  Pandel Tool for minilise regtistration from
*/
.panel-tools {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  right: 25px;
  top: 13px;
  text-transform: none;
  font-weight: 600;
  font-size: inherit;
  z-index: 1; }

.panel-tools li {
  display: inline-block; }

.panel-tools a {
  padding: 3px 8px;
  display: block;
  color: inherit;
  border-radius: 3px; }

.panel-tools a:hover {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.09); }

.panel-tools .icon {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  cursor: pointer; }

.panel-tools .icon a {
  color: rgba(0, 0, 0, 0.4); }

.panel-tools .dropdown-menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 13px; }

.panel-tools .dropdown-menu li {
  display: list-item; }

.panel-tools .dropdown-menu a {
  display: block; }

.panel-search {
  margin: -20px;
  padding: 15px 20px;
  position: relative;
  color: #333;
  display: none;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.panel-search input {
  background: #fff;
  border-radius: 999px;
  padding-left: 35px; }

.panel-search input:focus {
  background: #fff; }

.panel-search .icon {
  position: absolute;
  left: 35px;
  top: 25px; }

.panel-fullsize {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 9999; }

.panel-tools-hover {
  display: none; }

.panel:hover .panel-tools-hover {
  display: block; }

.panel-title .titleicon {
  margin-right: 10px; }

.panel-closed .panel-title {
  margin-bottom: -20px; }

.panel-closed .panel-body {
  display: none; }

/*
  Pandel Tool for minilise regtistration from end
*/
/* Registration Form css */
.registration-form form .group .fa-position {
  position: relative;
  top: 27px;
  left: 13px;
  font-size: 18px;
  color: #C3C3C3; }

.registration-form form .group .form-postition {
  padding: 0 0 0 35px !important; }

.pop-warning {
  font-size: 16px;
  color: #B94A48;
  display: none;
  cursor: pointer;
  float: right;
  margin-top: -25px;
  padding-right: 10px; }

.account .popover-content {
  width: 275px; }

.btn-pos {
  float: right; }

#avatar-upload {
  width: 70px;
  height: 70px;
  border: dashed 2px;
  border-style: dashed;
  border-radius: 50%;
  overflow: hidden; }

#avatar-upload canvas {
  width: 70px;
  height: 70px; }

.bdate-select button, .bdate-select input, .bdate-select select, .bdate-select textarea {
  height: 30px;
  border: solid 1px #DCE1E4; }

select[name="role"] {
  max-width: 150px; }

input[name="salary"] {
  max-width: 100px; }

/* Registration Form css end*/
/* Lock screen */
.avatar-lock {
  border-radius: 50%;
  height: 100px;
  float: left;
  width: 100px;
  overflow: hidden; }

.login-box .user-box img {
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 0; }

/* End lock screen */
.hover-service {
  background-color: #ddd; }

.active-service {
  background-color: #ddd; }

/* Calendar */
.myQtip .qtip-content {
  font-size: 16px;
  line-height: 1; }

/* Calendar  end*/
/* Tasks */
.tasks-personal {
  width: 300px; }

/* Tasks end */
.removeEvent {
  right: 0px;
  float: right;
  top: -12px; }

.eventMenu {
  position: absolute;
  left: -25px;
  height: 40px;
  width: 20px;
  border: solid 1px #3A87AD;
  color: white;
  border-radius: 3px;
  background-color: #6AA4C1;
  top: 0px; }

.event-menu-icon {
  cursor: pointer;
  margin-top: 2px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 2px; }

.avatar-settings {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #fff;
  cursor: pointer; }

.avatar-settings img {
  width: 100px;
  border-radius: 0px; }

.team-avatar {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: inline-block;
  overflow: hidden;
  margin: 5px; }

.team-avatar img {
  width: 55px; }

.change-avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: black;
  z-index: 1;
  top: 0px;
  opacity: 0.6;
  color: #fff;
  position: absolute;
  display: none; }

.change-avatar p {
  margin-top: 30px;
  margin-left: 5px;
  line-height: 10px; }

.change-avatar i {
  margin-left: 33px;
  font-size: 25px; }

/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=all.css.map */